doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
    body
        form(action='/form_receiver' method='post')
            P 
                input(type='text' name='title')
            P
                textarea(name='description')
            P
                input(type='submit')